---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import { getSurveyResult, type Vote2 } from "../../lib/db.ts";
import { schulze } from "../../lib/voting.ts";

const { id } = Astro.params;
const result = await getSurveyResult(id as string);
const name = result?.survey.name ?? 404;
const obj = JSON.stringify(result, null, 2);

console.log(schulze(result?.votes??[]))
---

<Layout title={name}>
	<h2 class="text-xl mb-3">{name}</h2>
	{
		result ? (
			<pre>
				<code> {obj}</code>
			</pre>
		) : (
			<h2>404</h2>
		)
	}
</Layout>
