---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? "??"}</title>
	</head>
	<body>
		<div class="container mx-auto px-2">
			<h1 class="text-2xl font-semibold text center">Ranked Voting</h1>
			<slot />
		</div>
	</body>
</html>

<style>
	body {
		--bg-color: #dedede;
		background-color: #fff;
		background-image: linear-gradient(
				var(--bg-color) 1.3px,
				transparent 1.3px
			),
			linear-gradient(to right, var(--bg-color) 1.3px, #ffffff 1.3px);
		background-size: 2rem 2rem;
		animation-name: todo;
		animation-duration: 4s;
		animation-iteration-count: 0;
		animation-timing-function: linear;
	}

	@keyframes todo {
		0%,
		100% {
			background-size: 1rem 2rem;
		}

		50% {
			background-size: 2rem 1rem;
		}
	}
</style>
