---
import { SvelteToast } from "@zerodevx/svelte-toast";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? "??"}</title>
	</head>
	<body>
		<div class="container mx-auto p-2 max-w-1280px bg-#00000011">
			<h1 class="text-2xl font-semibold text-center pt-4 pb-8">
				Ranked Voting
			</h1>
			<slot />
		</div>
	</body>
	<SvelteToast client:idle />
</html>

<style>
	body {
		--bg-color: #dedede;
		background-color: #fff;
		background-image: linear-gradient(
				var(--bg-color) 1.3px,
				transparent 1.3px
			),
			linear-gradient(to right, var(--bg-color) 1.3px, #ffffff 1.3px);
		background-size: 2rem 2rem;
	}
</style>
